<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comp.entities.Group" >
  <resultMap id="BaseResultMap" type="com.comp.entities.Group" >
    <id column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="PARENT_GROUP_ID" property="parentGroupId" jdbcType="VARCHAR" />
    <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="AVAILABLE" property="available" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    GROUP_ID, PARENT_GROUP_ID, GROUP_NAME, CREATE_TIME, AVAILABLE, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_GROUP
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_GROUP
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.comp.entities.Group" >
    insert into T_GROUP (GROUP_ID, PARENT_GROUP_ID, GROUP_NAME, 
      CREATE_TIME, AVAILABLE, DESCRIPTION
      )
    values (#{groupId,jdbcType=VARCHAR}, #{parentGroupId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{available,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.comp.entities.Group" >
    insert into T_GROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="parentGroupId != null" >
        PARENT_GROUP_ID,
      </if>
      <if test="groupName != null" >
        GROUP_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="available != null" >
        AVAILABLE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="parentGroupId != null" >
        #{parentGroupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.comp.entities.Group" >
    update T_GROUP
    <set >
      <if test="parentGroupId != null" >
        PARENT_GROUP_ID = #{parentGroupId,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        AVAILABLE = #{available,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comp.entities.Group" >
    update T_GROUP
    set PARENT_GROUP_ID = #{parentGroupId,jdbcType=VARCHAR},
      GROUP_NAME = #{groupName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      AVAILABLE = #{available,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where GROUP_ID = #{groupId,jdbcType=VARCHAR}
  </update>
</mapper>