<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comp.entities.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.comp.entities.Image" >
    <id column="IMAGE_ID" property="imageId" jdbcType="VARCHAR" />
    <result column="IMAGE_NAME" property="imageName" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="IMAGE_TYPE" property="imageType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    IMAGE_ID, IMAGE_NAME, URL, IMAGE_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_IMAGE
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_IMAGE
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.comp.entities.Image" >
    insert into T_IMAGE (IMAGE_ID, IMAGE_NAME, URL, 
      IMAGE_TYPE)
    values (#{imageId,jdbcType=VARCHAR}, #{imageName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{imageType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comp.entities.Image" >
    insert into T_IMAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        IMAGE_ID,
      </if>
      <if test="imageName != null" >
        IMAGE_NAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="imageType != null" >
        IMAGE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=VARCHAR},
      </if>
      <if test="imageName != null" >
        #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="imageType != null" >
        #{imageType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.comp.entities.Image" >
    update T_IMAGE
    <set >
      <if test="imageName != null" >
        IMAGE_NAME = #{imageName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="imageType != null" >
        IMAGE_TYPE = #{imageType,jdbcType=CHAR},
      </if>
    </set>
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comp.entities.Image" >
    update T_IMAGE
    set IMAGE_NAME = #{imageName,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      IMAGE_TYPE = #{imageType,jdbcType=CHAR}
    where IMAGE_ID = #{imageId,jdbcType=VARCHAR}
  </update>
</mapper>