<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comp.entities.RolePrivilegeMapper" >
  <resultMap id="BaseResultMap" type="com.comp.entities.RolePrivilege" >
    <id column="ROLE_PRIVILEGE_ID" property="rolePrivilegeId" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_ID" property="privilegeId" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_TYPE" property="privilegeType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_PRIVILEGE_ID, ROLE_ID, PRIVILEGE_ID, PRIVILEGE_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_ROLE_PRIVILEGE
    where ROLE_PRIVILEGE_ID = #{rolePrivilegeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_ROLE_PRIVILEGE
    where ROLE_PRIVILEGE_ID = #{rolePrivilegeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.comp.entities.RolePrivilege" >
    insert into T_ROLE_PRIVILEGE (ROLE_PRIVILEGE_ID, ROLE_ID, PRIVILEGE_ID, 
      PRIVILEGE_TYPE)
    values (#{rolePrivilegeId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{privilegeId,jdbcType=VARCHAR}, 
      #{privilegeType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comp.entities.RolePrivilege" >
    insert into T_ROLE_PRIVILEGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolePrivilegeId != null" >
        ROLE_PRIVILEGE_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="privilegeId != null" >
        PRIVILEGE_ID,
      </if>
      <if test="privilegeType != null" >
        PRIVILEGE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolePrivilegeId != null" >
        #{rolePrivilegeId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=VARCHAR},
      </if>
      <if test="privilegeType != null" >
        #{privilegeType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.comp.entities.RolePrivilege" >
    update T_ROLE_PRIVILEGE
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="privilegeId != null" >
        PRIVILEGE_ID = #{privilegeId,jdbcType=VARCHAR},
      </if>
      <if test="privilegeType != null" >
        PRIVILEGE_TYPE = #{privilegeType,jdbcType=CHAR},
      </if>
    </set>
    where ROLE_PRIVILEGE_ID = #{rolePrivilegeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comp.entities.RolePrivilege" >
    update T_ROLE_PRIVILEGE
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      PRIVILEGE_ID = #{privilegeId,jdbcType=VARCHAR},
      PRIVILEGE_TYPE = #{privilegeType,jdbcType=CHAR}
    where ROLE_PRIVILEGE_ID = #{rolePrivilegeId,jdbcType=VARCHAR}
  </update>
</mapper>